/* Basic Style */
.main-page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
  }
  
.info,
.info__content {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
  }
  
.info__pic {
    width: 100%;
  }

  .info__content-name {
      display: none;
  }
    
  .wrapper {
    display: block;
    width: 500px;
    margin: 0 auto 0;
  }
  
  .task {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
  }
  
  .add-item__row {
    display: flex;
  }
  
  .tasks {
    margin: 0;
    padding: 0px;
  }
  
  .task-point, 
  .title {
    list-style: none;
  }
  
  .input-area, 
  .btn {
    outline: none;
  }
  
  .btn, 
  .delete-btn, 
  .edit {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  
  .bnt:hover {
    color: #3a3a3a;
  }
  
  /* Heading */
  .title,
  .add-item__label[for="new-task"] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }
  
  .input-area[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  
  .input-area[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  .add-item__label[for="new-task"] {
    display: block;
    margin: 0 0 20px;
  }
  
  .input-area#new-task {
    width: 318px;
  }
  
  .btn:hover {
    color: #0fc57c;
  }
  
  /* Task list */
  .task-point {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-point > * {
    vertical-align: middle;
  }
  
  
  .task[type="checkbox"] {
    margin: 0 10px;
  }
  
  .task-point > .task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
  }
  
  .task-point > .input-area[type="text"] {
    width: 226px;
  }
  
  .delete-btn:hover {
    color: #cf2323;
  }
  
  .delete-btn 
  .btn-pic {
    height: 2em;
    transform: rotatez(45deg);
    transition: transform 200ms ease-in;
  }
  
  .delete-btn 
  .btn-pic:hover {
    transform: rotatez(0);
  }
  
  /* Completed */
  .tasks#completed-tasks 
  .task {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  .tasks 
  .task-point 
  .input-area[type=text] {
    display: none;
  }
  
  .tasks 
  .task-point.edit-mode 
  .input-area[type=text] {
    display: inline-block;
    width: 224px;
  }
  
  .tasks 
  .task-point.edit-mode 
  .task {
    display: none;
  }

  .info 
  .info__more-info {
    font-family: fantasy, cursive;
}
  
  @media (max-width: 768px) {

    .info{text-align: center;

  }
  
}
  